.listarea
{
   ;
}
input
{
    margin-top: 5px;
    height: 40px;
    line-height: 30px;
    text-indent: 10px;
    width: 100%;
    text-align: center;

}
ul , li
{
  list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}
.list li {
    background-color: red;
    padding: 20px;
    font-weight: bolder;
}
.list li span{
    display: block;
}
.list li span.name{
    float: left;
}
.list li span.phone
{
    float: right;
}